{#Insert markup for navigation list here#}
{# import "Ceres::Category.Macros.CategoryTree" as Tree #}

<ul class="mainmenu">
    <li><a href="https://amikon-shop.de">{{ trans("CeresCoconut::Template.headerhome") }}</a></li>
    <li class="ddown"><a href="#">{{ trans("CeresCoconut::Template.headercategory") }}</a>
	<ul data-level="1" id="navDropdown0" class="collapse">
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/3d-lasersinter">{{ trans("CeresCoconut::Template.categorylasersinter") }}</a></li>
	</ul>
	</li> 
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/elektromaterial">{{ trans("CeresCoconut::Template.categoryelektromaterial") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/elektronik">{{ trans("CeresCoconut::Template.categoryelektronik") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/elektronik-gesamt">{{ trans("CeresCoconut::Template.categoryelektronikgesamt") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/frequenzumrichter">{{ trans("CeresCoconut::Template.categoryfrequenzumrichter") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/hersteller-siemens">{{ trans("CeresCoconut::Template.categoryherstellersiemens") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/Laborartikel">{{ trans("CeresCoconut::Template.categorylaborartikel") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/maschinen">{{ trans("CeresCoconut::Template.categorymaschinen") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/mess-prueftechnik">{{ trans("CeresCoconut::Template.categorymessundprueftechnik") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/motoren-und-antriebe">{{ trans("CeresCoconut::Template.categorymotorenundantriebe") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/pneumatik">{{ trans("CeresCoconut::Template.categorypneumatik") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/roboter">{{ trans("CeresCoconut::Template.categoryroboter") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/sonstige-artikel">{{ trans("CeresCoconut::Template.categorysonstigeartikel") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/vakuum-technik">{{ trans("CeresCoconut::Template.categoryvakuumtechnik") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/werkstattzubehoer">{{ trans("CeresCoconut::Template.categorywerkstattzubehoer") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/werkzeug">{{ trans("CeresCoconut::Template.categorywerkzeug") }}</a></li>
	</ul>
	</li>
	<li>
	<ul class="nav-dropdown-inner">
	<li class="level1"><a href="/waerme-klimaschrank">{{ trans("CeresCoconut::Template.categorywaermeklimaschrank") }}</a></li>
	</ul>
	</li>
	</ul>
    </li>
    <li><a href="/content/versand-zahlung/">{{ trans("CeresCoconut::Template.headershipping") }}</a></li>
    <li><a href="/privacy-policy">{{ trans("CeresCoconut::Template.headerdatapolicy") }}</a></li>
    <li><a href="/contact">{{ trans("CeresCoconut::Template.headercontact") }}</a></li>
    <li><a href="/content/ankaufform">{{ trans("CeresCoconut::Template.headerpurchaseform") }}</a></li>
</ul>


{#<ul class="mainmenu">
    {{ Tree.get_nav_bar(
        categories,
        "",
        ceresConfig.header.megamenuLevels,
        {
            "1": ceresConfig.header.megamenuItemsStage1,
            "2": ceresConfig.header.megamenuItemsStage2,
            "3": ceresConfig.header.megamenuItemsStage3
        }
    ) }}
</ul>#}